In [2]:
#Importar librerias
import csv
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
#página seleccionada para realizar scraping
url = "https://www.worldometers.info/world-population/population-by-country/"

In [4]:
#Obtener un requests de la url
r = requests.get(url)

In [5]:
#preparar la sopa
soup = BeautifulSoup(r.content, 'html.parser')

#Traer tabla
rows = soup.find('table', attrs={"id":"example2"}).find('tbody').find_all('tr')

In [6]:
#Traer los datos a cada lista
pais = []
poblacion = []
cambio_anual = []
cambio_neto = []
densidad = []
superficie = []
migrantes = []
pobl_urbana = []
for row in rows:
  pais.append(row.find_all('td')[1].get_text())
  poblacion.append(row.find_all('td')[2].get_text())
  cambio_anual.append(row.find_all('td')[3].get_text())
  cambio_neto.append(row.find_all('td')[4].get_text())
  densidad.append(row.find_all('td')[5].get_text())
  superficie.append(row.find_all('td')[6].get_text())
  migrantes.append(row.find_all('td')[7].get_text())
  pobl_urbana.append(row.find_all('td')[10].get_text())

In [7]:
#DataFrame
df = pd.DataFrame({"País":pais, "Poblacion":poblacion, "Cambio Anual":cambio_anual, "Cambio Neto":cambio_neto, "Densidad (P/Km2)":densidad, "Superficie (Km2)":superficie, "Migrantes":migrantes, "Población Urbana":pobl_urbana})

#imprimir df
df

,País,Poblacion,Cambio Anual,Cambio Neto,Densidad (P/Km2),Superficie (Km2),Migrantes,Población Urbana
0,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",61 %
1,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",35 %
2,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",83 %
3,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",56 %
4,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",35 %
...,...,...,...,...,...,...,...,...
230,Montserrat,"4,992",0.06 %,3,50,100,,10 %
231,Falkland Islands,"3,480",3.05 %,103,0,"12,170",,66 %
232,Niue,"1,626",0.68 %,11,6,260,,46 %
233,Tokelau,"1,357",1.27 %,17,136,10,,0 %
234,Holy See,801,0.25 %,2,"2,003",0,,N.A.

In [19]:
#pasar a csv
pobalcioncsv = df.to_csv('poblacion.csv', index=False, encoding='utf-8')
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive

# Nueva sección